.film-page {
    padding: 20px;
    color: white;
    background-color: #141414;
    text-align: center;
    background-image: url('');
    background-size: cover;

  }
  .film-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  
  .film-page h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .film-details {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .film-poster {
    max-width: 100px;
    border-radius: 8px;
  }
  
  .film-info p {
    font-size: 20px;
    color: black;
    max-width: 600px;
  }

  .film-player {
    display: flex;
    justify-content: center;
  }
  
  .film-iframe {
    max-width: 800px;
    max-height: 800px;
    border: none;
    border-radius: 8px;
  }
  