.moana-page {
    padding: 20px;
    color: white;
    background-color: #141414;
    text-align: center;
    background-image: url('https://play-lh.googleusercontent.com/proxy/CXN0vpU3ej7F3ZuYDrYrCwtQnao9YrF6FhzIf69KHe_cKJOQoN8xGf3ZucdlQgCqVtayxWPclh4M8sMfdp0zLAU_VmHv3VmIKyYpRy1q7OQ4erWf_Keqn84AYw=s1920-w1920-h1080');
    background-size: cover;
    position: relative;
}

.moana-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.moana-page h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.film-details {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.film-details img{
    width: 500px;
}

.film-poster {
    max-width: 500px;
    border-radius: 8px;
}

.film-info p {
    font-size: 24px;
    color: black;
    line-height: 1.6;
    max-width: 600px;
}

.film-player {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.film-iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: none;
    border-radius: 8px;
}
